.white-text-black-shadow {
    color: #FFFFFF; 
    text-shadow: 2px 2px 4px #000000; 
}

.custom-button {
    background-color: #FC9C41; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    transition-duration: 0.4s; 
}

    .custom-button:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        background-color: #ffa500;
    }