@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h5 class="display-8">
        Zasady i program odbywania praktyk studenckich <br />
        na Wydziale Elektrotechniki, Automatyki i Informatyki <br />
        Politechniki Świętokrzyskiej <br />
        dla studiów o profilu akademickim<br />
    </h5>
    <p>Więcej na temat praktyk: <a href="/InfoPraktyki">Informacje na temat praktyk</a>.</p>
</div>

<div class="text-center">
    <button id="buttonMojeWnioski" class="btn btn-primary">Moje wnioski</button> <br />
    <br />
    <button id="buttonZlozWniosek" class="custom-button">Złóż wniosek</button>
</div>

<script>
    document.getElementById('buttonMojeWnioski').addEventListener('click', function () {
        window.location.href = '/MojeWnioski';
    });

    document.getElementById('buttonZlozWniosek').addEventListener('click', function () {
        window.location.href = '/ZlozWniosek';
    });
</script>