@page
@model SystemPraktyk.Pages.InfoPraktykiModel
@{
}
<div class="text-center">
    <h1 class="display-4">Informacje na temat praktyk</h1>
    Na wniosek {PDF} Rektora Politechniki Świętokrzyskiej z dnia 20 września 2019 r. w sprawie Regulaminu Praktyk Zawodowych w Politechnice Świętokrzyskiej (ze zmianami) oraz programem studiów realizowanym na poszczególnych kierunkach studiów o profilu akademickim na Wydziale Elektrotechniki, Automatyki i Informatyki student zobowiązany jest do odbycia czterotygodniowej praktyki.  Praktyki studenckie stanowią integralną część procesu kształcenia i podlegają zaliczeniu. Dotyczy to zarówno studentów studiów stacjonarnych jak i niestacjonarnych. Studenci odbywają praktykę w okresie wakacyjnym przed rozpoczęciem V lub VII semestru studiów I stopnia (w zależności od kierunku studiów). Głównym celem praktyki studenckiej jest m.in.:

    umiejętne wykorzystanie wiedzy zdobytej na studiach w pracy zawodowej;
    przygotowanie studenta do pracy w zespole, ale także do samodzielnego wykonywania powierzonych mu zadań;
    pogłębianie wiedzy o branżach gospodarki, poznanie zasad organizacji przedsiębiorstw i mechanizmów ich funkcjonowania.

    Praktyka studencka może być odbywana w wybranym przez studenta podmiocie gospodarczym, instytucji lub zakładzie o profilu umożliwiającym zrealizowanie celów określonych w programie praktyk.

    Student we własnym zakresie wyszukuje miejsce odbywania praktyki, przedstawia propozycję Kierownikowi ds. praktyk studenckich na Wydziale (odpowiednio dla danego kierunku studiów) w celu uzyskania akceptacji. Po uzyskaniu zgody student składa w wybranym przez siebie zakładzie pracy podanie z prośbą o przyjęcie na praktykę (w przypadku gdy tego wymaga pracodawca). Warunki realizacji praktyki przez studenta określa Umowa zawarta pomiędzy Politechniką Świętokrzyską i pracodawcą. Praktyka ma z reguły charakter nieodpłatnej pracy na rzecz danego zakładu pracy. Uczelnia nie ubezpiecza studentów – praktykantów od następstw nieszczęśliwych wypadków (NW). Decyzję o ewentualnym ubezpieczeniu student podejmuje samodzielnie.
</div>
<div class="text-center">
    <br />
    <br />
    <br />
    <br />
</div>
<div class="text-center">
    <h1 class="display-4">Zaliczenie praktyk</h1>
    Student w terminie do 8.09.2023 r. zgłasza się osobiście do opiekuna praktyk ze strony Uczelni celem zaliczenia praktyki. Student zobowiązany jest dostarczyć:

    opcjonalnie indeks (wpisany rok akademicki, nazwa i adres zakładu pracy, czas trwania praktyki w tygodniach) – wpis na oznaczonych, końcowych stronach indeksu,
    Sprawozdanie z praktyki studenckiej – załącznik nr 3 poświadczone przez zakładowego opiekuna praktyk (podpis i pieczęć).

    Sprawozdanie z praktyki powinno stanowić szczegółowy opis prac wykonanych przez praktykanta podczas całego okresu praktyki. Sprawozdanie powinno zawierać:

    charakterystykę zakładu pracy,
    szczegółowy opis przebiegu praktyki,
    podsumowanie praktyki (zdobyta wiedza, umiejętności, uwagi i wnioski).

    Zaliczenia praktyki zawodowej dokonuje w indeksie Opiekun praktyk studenckich na podstawie wymienionych wyżej dokumentów oraz rozmowy ze studentem o przebiegu praktyki i realizacji jej celu. Sprawozdanie z praktyki oraz Umowa zamieszczone zostają w aktach osobowych studenta.

    W przypadku posiadanego doświadczenia zawodowego (umowa o pracę / umowa o dzieło / umowa zlecenie / własna działalność) zgodnego z kierunkiem studiów i wypełniającego wymagane efekty uczenia się (karta przedmiotu) można złożyć podanie o zaliczenie praktyk wraz z odpowiednią dokumentacją poświadczającą przepracowanie 160h (kserokopie potwierdzone w Dziekanacie).
</div>